<nav class="navbar navbar-expand-lg static-top" style="background-color: #000000;">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://pbs.twimg.com/profile_images/1079216504/Twitter-CASA_400x400.jpg" width="50" height="50" routerLink="/">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signup"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
