<footer class="footer">
  <div class="container">
    <div class="d-flex justify-content-center">
      <span class="text-danger">&copy; College of Applied Science and Arts, SIUC 2019</span>
    </div>
  </div>
</footer>
