<div class="container">
  <div class="list-group mt-2">
    <p class="list-group-item list-group-item-action active">
      Welcome to {{ course.courseCode }}, {{ course.courseTerm }}
    </p>
    <p class="list-group-item list-group-item-action">Course Code: {{ course.courseCode }}</p>
    <p class="list-group-item list-group-item-action">Course Name: {{ course.courseName }}</p>
    <p class="list-group-item list-group-item-action">{{ course.courseDescription }}</p>
  </div>

  <div class="list-group mt-2">
    <p class="list-group-item list-group-item-action active">
      You Might Want To Watch
    </p>
    <a (click)="onClickAnnouncements()" class="list-group-item list-group-item-action">Course Announcements</a>
    <a (click)="onClickCourseForum()" class="list-group-item list-group-item-action">Discussion Forum</a>
    <a href="#" class="list-group-item list-group-item-action">Chat with this course's FAQ Bot</a>
  </div>

</div>
