<div class="container py-5">
  <div class="row">
      <div class="col-md-12">
          <!-- <h2 class="text-center text-white mb-4">Login Form</h2> -->
          <div class="row">
              <div class="col-md-6 mx-auto">

                  <!-- form card login -->
                  <div class="card rounded-0">
                      <div class="card-header">
                          <h3 class="mb-0">Login Please</h3>
                      </div>
                      <div class="card-body">
                          <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
                              <div class="form-group">
                                  <label for="uname1">Email</label>
                                  <input type="text" class="form-control form-control-lg rounded-0" formControlName = "email">
                                  <div class="invalid-feedback" *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">Oops, you missed this one.</div>
                              </div>
                              <div class="form-group">
                                  <label>Password</label>
                                  <input type="password" class="form-control form-control-lg rounded-0" formControlName="password" autocomplete="new-password">
                                  <div class="invalid-feedback" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Enter your password too!</div>
                              </div>

                              <button type="submit" class="btn btn-success btn-lg float-left" id="btnLogin" [disabled]="!loginForm.valid">Login</button>
                          </form>
                      </div>
                      <!--/card-block-->
                  </div>
                  <!-- /form card login -->

              </div>


          </div>
          <!--/row-->

      </div>
      <!--/col-->
  </div>
  <!--/row-->
</div>
<!--/container-->

