<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="list-group mt-2">
        <p class="list-group-item list-group-item-action active">
          Announcements for {{ courseName }}
        </p>
        <a (click)="clickToViewAnnouncement(announcement.id)" *ngFor="let announcement of courseAnnoucements" class="list-group-item list-group-item-action">
              {{ announcement.title }} <small>{{announcement.createdAt}}</small></a>
      </div>
    </div>
    <div class="col-6">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ announcementDetails.title }}</h5>
          <p class="card-text">{{ announcementDetails.content }}</p>
          <small class="card-text">Posted By {{announcementDetails.postedBy}}</small>
          <button [disabled]="!announcementDetails.canEdit" class="btn btn-primary">Edit</button>
        </div>
      </div>
    </div>
  </div>
  <h2 class="text-muted">Create a new Announcement</h2>
  <form (ngSubmit)="onCreateNewAnnouncement()" #f="ngForm">
    <div class="row">
      <div class="form-group col-md-6">
        <label for="title">Title</label>
        <input type="text"
               class="form-control"
               id="title"
               ngModel
               required
               name="title"
               autocomplete="off"
               placeholder="Enter Title">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="content">Content</label>
        <textarea class="form-control"
                  id="content"
                  name="content"
                  ngModel
                  required
                  autocomplete="off"
                  placeholder="Enter Content"></textarea>
      </div>
    </div>
    <button [disabled]="!canCreateNewAnnouncement" class="btn-primary btn" type="submit">Submit</button>
  </form>
</div>


