<div class="container">
  <h2>Your Courses</h2>
  <p class="text-muted">Navigate to each of your course</p>
  <div class="row">
    <div class="col-md-5 ml-1 card" *ngFor="let course of courses">
      <img class="card-img-top" src="https://howtobuildanonlinecourse.com/wp-content/uploads/2016/02/creating-course-content-wordcloud2.png" width="50px" height="50px" alt="Course Image">
      <div class="card-body">
      <h5 class="card-title">{{ course.courseCode }}</h5>
      <p class="card-text">{{ course.courseName }}</p>
        <button class="btn btn-primary" (click)="naviageToCourse(course.id)">Go to course</button>
    </div>
    </div>
  </div>
</div>

