<div class="container mt-1">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Register For CASA Forum</div>
        <div class="card-body">
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="form-group row">
              <label for="full_name" class="col-md-4 col-form-label text-md-right">First Name</label>
              <div class="col-md-6">
                <input type="text" id="first_name" class="form-control" formControlName="firstName">
                <div class="invalid-feedback" *ngIf="signupForm.get('firstName').valid && signupForm.get('firstName').touched">Oops, you missed this one.</div>
              </div>
            </div>

            <div class="form-group row">
              <label for="full_name" class="col-md-4 col-form-label text-md-right">Last Name</label>
              <div class="col-md-6">
                <input type="text" id="last_name" class="form-control" formControlName="lastName">
                <div class="invalid-feedback" *ngIf="signupForm.get('lastName').valid && signupForm.get('lastName').touched">Oops, you missed this one.</div>
              </div>
            </div>

            <div class="form-group row">
              <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
              <div class="col-md-6">
                <input type="text" id="email_address" class="form-control" formControlName="email">
                <div class="invalid-feedback" *ngIf="signupForm.get('email').valid && signupForm.get('email').touched">Oops, you missed this one.</div>
              </div>
            </div>

            <div class="form-group row">
              <label for="user_name" class="col-md-4 col-form-label text-md-right">User Name</label>
              <div class="col-md-6">
                <input type="text" id="user_name" class="form-control" name="username" formControlName="userName">
                <div class="invalid-feedback" *ngIf="!signupForm.get('userName').valid && signupForm.get('userName').touched">Oops, you missed this one.</div>
              </div>
            </div>

            <div class="form-group row">
              <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
              <div class="col-md-6">
                <input type="password" id="password" class="form-control" formControlName="password">
                <div class="invalid-feedback" *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">Oops, you missed this one.</div>
              </div>
            </div>

            <div class="form-group row">
              <label for="password_confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>
              <div class="col-md-6">
                <input type="password" id="password_confirm" formControlName="confirmPassword">
              </div>
            </div>

            <div class="form-group row">
              <label for="phone_number" class="col-md-4 col-form-label text-md-right">Phone Number</label>
              <div class="col-md-6">
                <input type="text" id="phone_number" class="form-control" formControlName="phoneNumber">
                <div class="invalid-feedback" *ngIf="!signupForm.get('phoneNumber').valid && signupForm.get('phoneNumber').touched">Oops, you missed this one.</div>
              </div>
            </div>

            <div class="form-group row">
              <label for="permanent_address" class="col-md-4 col-form-label text-md-right">Permanent Address</label>
              <div class="col-md-6">
                <input type="text" id="permanent_address" class="form-control" formControlName="address">
                <div class="invalid-feedback" *ngIf="!signupForm.get('address').valid && signupForm.get('address').touched">Oops, you missed this one.</div>
              </div>
            </div>

            <div class="form-group row">
              <label for="nid_number" class="col-md-4 col-form-label text-md-right">Role</label>
              <div class="col-md-6">
                <select id="inputState" class="form-control" formControlName="role">
                  <option *ngFor="let role of roles">{{ role }}</option>
                  <option>Student</option>
                </select>
              </div>
            </div>

            <div class="col-md-6 offset-md-4">
              <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid">
                Register
              </button>
            </div>
            <div class="row mt-2">
              <div class="col-md-6 offset-md-4">
              <p>Already have an account? <a routerLink="/login">Login here</a> </p>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
