<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a routerLink="/dashboard">
          Welcome, {{userName}}
        </a>
      </li>
      <li>
        <a routerLink="./courses">Courses</a>
      </li>
      <li>
        <a href="#">Grades</a>
      </li>
      <li>
        <a href="#">Profile</a>
      </li>
      <li>
        <a (click) = "logout()">Logout</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

   <!--Page Content-->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1>Welcome, {{ userName }}</h1>
          <p>Here, you can select everything your courses, grades as well as make changes to your profile.</p>
          <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
        </div>
      </div>
    </div>
  </div>
   <!--/#page-content-wrapper-->
  <router-outlet></router-outlet>
</div>

