<div class="container mt-2">
  <div class="jumbotron">
    <h1>Welcome to College of Applied Science and Arts Virtual Teaching Assistant Platform</h1>
    <p>This project is available as a public project to mimic virtual teaching assistant capabilities, using
        natural language processing, intellegent agents like dialogflow and web frameworks as well as deep learning.
    </p>
    <h2>Features</h2>
    <ul class="list-group">
      <li class="list-group-item">Single platform for students, instructors as well as teaching assistants</li>
      <li class="list-group-item">Grades tracking</li>
      <li class="list-group-item">Automatic taking of online quizzes either using chatbot or viber</li>
      <li class="list-group-item">FAQ bots to answer frequently asked question</li>
      <li class="list-group-item">A deep learning model to automatically generate questions</li>
    </ul>
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="onClickDashboard()">Go To Your Dashboard</button>
  </div>
</div>
