<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="list-group mt-2">
        <p class="list-group-item list-group-item-action active">
          Forum Posts for {{ courseName }}
        </p>
        <a (click)="clickToViewForumPostDetail(forumPost.id)" *ngFor="let forumPost of forumPosts" class="list-group-item list-group-item-action">
          {{ forumPost.postTitle }} <small>{{forumPost.createdAt}}</small></a>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ forumPostsDetail.postTitle }}</h5>
          <p class="card-text">{{ forumPostsDetail.postBody }}</p>
          <small class="card-text">Posted By {{forumPostsDetail.postedBy}}</small>
          <button [disabled]="!forumPostsDetail.canEdit" class="btn btn-primary">Edit</button>
        </div>
      </div>
    </div>
  </div>
  <h2 class="text-muted">Create a new Post</h2>
  <form (ngSubmit)="onCreateNewForumPost()" #f="ngForm">
    <div class="row">
      <div class="form-group col-md-6">
        <label for="title">Title</label>
        <input type="text"
               class="form-control"
               id="title"
               ngModel
               required
               name="title"
               autocomplete="off"
               placeholder="Enter Title">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="content">Content</label>
        <textarea class="form-control"
                  id="content"
                  name="content"
                  ngModel
                  required
                  autocomplete="off"
                  placeholder="Enter Content"></textarea>
      </div>
    </div>
    <button class="btn-primary btn" type="submit">Submit</button>
  </form>
</div>

